<ion-tabs>
  <ion-tab-bar slot="bottom" class="tabMenuCont">
    <ion-tab-button tab="home">
      <ion-icon class="MenuIcon Icon1"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="video" >
      <ion-icon class="MenuIcon Icon2"></ion-icon>
      <ion-label>Videos</ion-label>
    </ion-tab-button>
	<ion-tab-button tab="cheatsheets">
      <ion-icon class="MenuIcon Icon3"></ion-icon>
      <ion-label>Cheat Sheets</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="whichtest">
      <ion-icon class="MenuIcon Icon4"></ion-icon>
      <ion-label>Which Test?</ion-label>
    </ion-tab-button>

   
    <!--ion-tab-button tab="contact">
      <ion-icon class="MenuIcon Icon6"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button-->



    
    
    <!-- <ion-tab-button tab="forum">
      <ion-icon class="MenuIcon Icon5"></ion-icon>
      <ion-label>Forum</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
